/*This is universal and applies to all*/
:root{
    --darkblue: #0b1e33;
    --blue: #013c58;
    --lightblue: #00537a;
    --gold: #f5a201;
    --orange: #ffba42;
    --yellow: #ffd35b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*This applies to the body*/

body {
    background-color: var(--lightblue);
}

/*This section is for the header*/

header {
    display: flexbox;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 377px;
    width: 100%;
    background-image: url("../images/Hero2.jpg");
    background-size: cover;
}

header h1 {
    display: inline-block;
    font-size: 64px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*This is for the hyperlinks*/

a {
    color:  var(--gold);
    text-decoration: none;
}

.statement {
    background-color: var(--darkblue);
    color: var(--orange);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 30px;
}

section {
    display: flex;
    flex-wrap: wrap;
  }
  
aside {
    flex: 20%;
    background-color: var(--blue);
    padding: 0px;
  }

aside h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: 36px;
    padding: 10%;
    color: var(--orange);
    height: 100%;
    border-right: 5px solid var(--gold);
}

main {
    flex: 80%;
    padding: 5%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 150%;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#workmain {
    display:flex;
    flex-wrap: wrap;
}

.sub {
    display:flex;
    width:47.5%;
    height: 250px;
}

#feature {
    width:100%;
    min-height: 500px;
    justify-content: center;
    margin-bottom: 5%;
}

#topleft {
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

#topright {
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

#bottomleft {
    margin-right: 2.5%;
    margin-top: 2.5%;
}

#bottomright {
    margin-left: 2.5%;
    margin-top: 2.5%;
}

img {
    width: 100%;
    height:100%;
    display: block;
    justify-content: center;
    border: 10px solid var(--gold);
}